body {
  background: ;
}

#tables {
  background: green;
  border: 3px yellow solid;
  padding-top: 10px;
  padding-left: 50px;
}

img {
  padding-left: 100px;
}

h1 {
  text-align: center;
  color: red;
}